
<configuration>
    <appender name="appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.optaplanner" level="wa"/>

    <root level="warn">
        <appender-ref ref="appender"/>
    </root>


</configuration>
